<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <%# <link rel="stylesheet" href="application.css"> %>
  <%= stylesheet_link_tag 'application' %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <div class="container">
  <header class="mb-auto">
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-1 active" aria-current="page" href="#">Home</a>
        <a class="nav-link fw-bold py-1 px-1" href="#">Gallary</a>
        <a class="nav-link fw-bold py-1 px-1" href="#">Fanboard</a>
        <a class="nav-link fw-bold py-1 px-1" href="#">Request</a>
      </nav>
  </header>

    <div class="chat bg-light p-4">
      <div class="message d-flex flex-row align-items-start mb-4">
        <div class="message-icon rounded-circle bg-secondary text-dark fs-3">
          <i class="fas fa-user"></i>

        </div><!-- .message-icon -->
        <p class="message-text p-2 ms-2 mb-0 bg-warning">
          サンプルテキスト。サンプルテキスト。サンプルテキスト。
        </p><!-- .message-text -->
      </div><!-- .message -->
      <div class="message d-flex flex-row-reverse align-items-start mb-4">
        <div class="message-icon rounded-circle bg-secondary text-white fs-3">
          <i class="fas fa-user"></i>
        </div><!-- .message-icon -->
        <p class="message-text p-2 me-2 mb-0 bg-info">
          サンプルテキスト。サンプルテキスト。サンプルテキスト。
        </p><!-- .message-text -->
      </div><!-- .message -->
      <div class="message d-flex flex-row align-items-start mb-4">
        <div class="message-icon rounded-circle bg-secondary text-white fs-3">
          <i class="fas fa-user"></i>
        </div><!-- .message-icon -->
        <p class="message-text p-2 ms-2 mb-0 bg-warning">
          サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。
        </p><!-- .message-text -->
      </div><!-- .message -->
      <div class="message d-flex flex-row-reverse align-items-start mb-4">
        <div class="message-icon rounded-circle bg-secondary text-white fs-3">
          <i class="fas fa-user"></i>
        </div><!-- .message-icon -->
        <p class="message-text p-2 me-2 mb-0 bg-info">
          サンプルテキスト。サンプルテキスト。サンプルテキスト。
        </p><!-- .message-text -->
      </div><!-- .message -->
    </div><!-- .chat -->
  </div><!-- .container -->

  <div class="container">
    <%# <% if user_signed_in? %>
    <div class="fixed-element">
      <%= form_with(model: @messages, url: messages_path) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする" %>
        <label class="form-image">
        <%= form.submit "送信" %>
        <%= form.submit "画像" %>
      <% end %>
      </div>
  </div>

</body>
</html>


